.cuadrito {
    border: 2px solid black;
    width: 20%;
    margin-left: 40%;
}

.botoncito {
    padding: 1.0em;
    background-color: gray;
    border-radius: 3px;
    margin-bottom: 2.0em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}